*.gem
*.rbc
.config
.bundle/install.log
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
tags
test/tmp
test/version_tmp
tmp
vendor

# opsworks_puma
opsworks_puma/.vagrant
opsworks_puma/Berksfile.lock
opsworks_puma/*~
opsworks_puma/*#
opsworks_puma/.#*
opsworks_puma/\#*#
opsworks_puma/.*.sw[a-z]
opsworks_puma/*.un~
opsworks_puma/cookbooks

# YARD artifacts
.yardoc
_yardoc
doc/
Gemfile.lock
build

# Bundler
bin/*
.bundle/*
.idea




